* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    /* background-color: white; */
    /* border: 1px solid black; */
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    border: 1px solid yellow;
    background-color: yellow;
}
button:focus {
    outline: none;
}
button:active {
    border: 2px solid black;
}
button#rock {
    background-image: url(images/cave-painting.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: none; */
}
button#paper {
    background-image: url(images/toilet-paper.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: none; */
}
button#scissors {
    background-image: url(images/scissors.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* border: none; */
}
#selections {
    margin:auto;
    display: flex;
    justify-content: space-around;
    width: 800px;
    /* background-color: yellow; */
}
#intro {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
#intro h1 {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 35px;
}
#intro p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 50%;
}
#scores {
    display: flex;
    justify-content: center;
}
#player, #computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
#player p, #computer p {
    color: yellow;
    background-color: black;
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
}
#player div, #computer div {
    font-size: 20px;
    font-family: 'Lexend Mega', sans-serif;
}
#results {
    width: 50%;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    animation: fadeIn 2s; 
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
footer {
    position: fixed;
    bottom: 0px;
    background-color: black;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: center;
}
footer a {
    color: yellow;
}
.modal {
    position: relative;
    display: none;
    z-index: 1;
    background-color: black;
    color: yellow;
    width: 500px;
    height: 200px;
    bottom: 0px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slidein;
    animation-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
}
@keyframes slidein {
    from {
        bottom: -300px; opacity: 0;
    }
    to {
        bottom: 0px; opacity: 1;
    }
}
.content {
    display: flex;
    flex-direction: column;
}
#congratMessage{
    align-self: center;
    font-size: 20px;
    /* background-color: white; */
}
#close {
    align-self: flex-end;
    font-weight: bold;
    font-size: 28px;
}
#close:hover,
#close:focus {
    color: white;
    cursor: pointer;
}
#reset {
    /* padding: 10px 15px; */
    background-color: yellow;
    color: black;
    width: 20%;
    padding: 5px 7px;
    /* margin-top: 20px; */
    align-self: center;
    border: 1px solid yellow;
    border-radius: 8px;
    text-align: center;
}
#reset:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
    cursor: pointer;
}
.item {
    margin: 10px;
}
.line:hover {
    transform: scale(1.5);
    background-color: black ;
    color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}
@keyframes transition {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}
#round {
    font-size: 30px;
    /* background-color: blue; */
    width: 400px;
    margin: auto;
    text-align: center;
    font-family: 'Lexend Mega', sans-serif;
    margin-bottom: 10px;
}